.messageHistory {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.messageHistory:nth-child(even) {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.message {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 80%;
}
